<strong>Nova encomenda, {{name}}</strong>
<p>Disponibilizada no {{startDate}}</p>

<strong>Produto: </strong> {{product}} <br>
<div>
  <strong>Informações de entrega: </strong>
  <ul>
    <li><strong>Cidade: </strong> {{city}}</li> <br>
    <li><strong>Estado: </strong> {{state}}</li> <br>
    <li><strong>CEP: </strong> {{cep}}</li> <br>
  </ul>
</div>

<br>
<small>
  Para informações mais detalhadas acesse a página de encomendas!
</small>
